{% extends 'base.html.twig.php' %}

{% block side %}

        <p> Editar areas </p>

        {% form_theme form 'bootstrap_3_layout.html.twig' %}

           {{ form_start(form, {'action': path('updateArea'), 'method': 'POST'}) }}

           {{ form_label(form.nombre) }}
           {{ form_widget(form.nombre, { 'attr': {'class': 'nombre'} }) }}

           {{ form_label(form.ramas) }}
           {{ form_widget(form.ramas, { 'separator': '=====' }) }}



           {{ form_widget(form) }}
           {{ form_errors(form) }}



           {{ form_rest(form) }}
           {{ form_end(form) }}
  {% endblock %}