{% extends 'portadaOferta.html.twig' %}

{% block cuerpo %}



        <div class="panel panel-default">
          <div class="panel-heading">
            <h1>
              Editar Oferta
            </h1>

            <div class="col-md-12 text-center">
                <div class="list-group">
                    <h3><small> Nombre Oferta: {{ oferta.getNombre() }} </small></h3>
                    {% if app.security.getToken().getUser().roles|first == 'ROLE_SUPER_ADMIN' or app.security.getToken().getUser().getUsername()  == oferta.getAutor() %}
                        <hr>
                          <a id="linkAdmin" href="{{ path('mostrarOferta', {'idOferta': oferta.id}) }}" class="list-group-item" > Volver a oferta: {{ oferta.getNombre() }} </a>
                        <hr>
                    {% endif %}
                </div>
            </div>

          </div>
          <div class="panel-body">
            {% form_theme formOferta 'bootstrap_3_layout.html.twig' %}

              {{ form_start(formOferta, {'action': path('editOferta'), 'method': 'POST', 'multipart': 'true'}) }}

              <div class="form-group">
                {{ form_label(formOferta.nombre) }}
                {{ form_errors(formOferta.nombre) }}
                {{ form_widget(formOferta.nombre, { 'attr': {'class': 'nombre'} }) }}
              </div>

              <div class="form-group">
                {{ form_label(formOferta.descripcion) }}
                {{ form_errors(formOferta.descripcion) }}
                {{ form_widget(formOferta.descripcion, { 'attr': {'class': 'descripcion'} }) }}
              </div>

              <div class="form-group">
                {{ form_label(formOferta.condiciones) }}
                {{ form_errors(formOferta.condiciones) }}
                {{ form_widget(formOferta.condiciones, { 'attr': {'class': 'condiciones'} }) }}
              </div>

              <div class='col-md-6'>
                <div class="form-group">
                  {{ form_label(formOferta.fechaInicio) }}
                  {{ form_widget(formOferta.fechaInicio, { 'attr': {'class': 'datepicker'} }) }}
                </div>
              </div>

              <div class='col-md-6'>
                <div class="form-group">
                  {{ form_label(formOferta.fechaFin) }}
                  {{ form_widget(formOferta.fechaFin, { 'attr': {'class': 'datepicker'} }) }}
                </div>
              </div>

              <div class="form-group">
                {{ form_errors(formOferta.contacto) }}
                {{ form_label(formOferta.contacto) }}
                {{ form_widget(formOferta.contacto, { 'attr': {'class': 'contacto'} }) }}
              </div>

              <div class="form-group">
                <input type="hidden" name="MAX_FILE_SIZE" value="200000"/>
                <input name="uploadedfile" type="file" accept="png" />
                {% if mensaje is defined %}
                  <span> {{ mensaje }} </span>
                {% endif %}
              </div>

              <div class="form-group">
                {{ form_label(formOferta.area) }}
                {{ form_errors(formOferta.area) }}
                {{ form_widget(formOferta.area) }}
              </div>

              <div class="form-group">
                {{ form_label(formOferta.rama) }}
                {{ form_errors(formOferta.rama) }}
                {{ form_widget(formOferta.rama) }}
              </div>

              <div class="form-group">
                {{ form_label(formOferta.disciplina) }}
                {{ form_errors(formOferta.disciplina) }}
                {{ form_widget(formOferta.disciplina) }}
              </div>

             <div class="form-group">
                {{ form_label(formOferta.tipo) }}
                {{ form_errors(formOferta.tipo) }}
                {{ form_widget(formOferta.tipo) }}
              </div>


              <br>
              <br>

              {{ form_end(formOferta) }}

              <br>
              <br>
              <br>
              <br>


              <script>
                $("#form_area").change(function() {
                  var data = {
                    area_id: $(this).val()
                  };
                  $.ajax({
                      type: 'post',
                      url: '{{ path("select_rama") }}',
                      data: data,
                      success: function(data,url) {
                          var $rama_selector = $('#form_rama');
                          var $disciplina_selector = $('#form_disciplina');
                          $disciplina_selector.html('<option value= > </option>');
                          $rama_selector.html('<option value="' + data[0].toString() + '">' + data[1].toString() + '</option>');
                          for (var i = 2, total = data.length; i < total;) {
                              $rama_selector.append('<option value="' + data[i] + '">' + data[i+1] + '</option>');
                              i=i+2;
                          }

                      }
                  });
                });
                $("#form_rama").change(function() {
                var data = {
                  rama_id: $(this).val()
                };
                $.ajax({
                  type: 'post',
                  url: '{{ path("select_disciplina") }}',
                  data: data,
                  success: function(data,url) {
                      var $rama_selector = $('#form_disciplina');

                      $rama_selector.html('<option value="' + data[0].toString() + '">' + data[1].toString() + '</option>');
                      for (var i = 2, total = data.length; i < total;) {
                          $rama_selector.append('<option value="' + data[i] + '">' + data[i+1] + '</option>');
                          i=i+2;
                      }
                  }
                });
              });
            </script>

            {% if oferta.disciplina is null %}
              <script>
                var $disciplina_selector = $('#form_disciplina');
                $disciplina_selector.html('<option value= > </option>');
              </script>
            {% endif %}

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
            <script src="{{ asset('js/selectFecha.js') }}"></script>

        </div>
      </div>
  </div>

{% endblock %}
