{% extends 'base.html.twig.php' %}

{% block side %}
  <div id="contenido" class="sec_interior">
    <div class="content_doku">
        {% for entry in pagination %}
                <div id="showOferta">
                    <img id="img_show" src="{{ asset('uploads/brochures/oferta') }}/{{ entry.brochure }}" alt="" />
                    <div id="descripcion_show">
                                <p class="lead">{{ entry.descripcion }}</p>
                            <a id="link_help" href="{{ path('showOferta', {'id': entry.id}) }}" >Ver</a>
                        </div>
                    </div>
              {% endfor %}



        </div>
        <div id="paginacion">
          {{ knp_pagination_render(pagination) }}
        </div>
    </div>
  </div>

{% endblock %}
