{% if areas is defined %}
	{% for area in areas  %}
		<ul>
			<li class="has-sub"> <a href="{{ path('mostrarOfertas', {'area_id': area.id}) }}">{{ area.getNombre() }}</a><ul>
				{% for rama in area.getRamas()  %}
					<li class="has-sub"> 
						<a href="{{ path('mostrarOfertas', { 'area_id': area.id ,'rama_id': rama.id}) }}">{{ rama.getNombre() }}
						</a>
						<ul>
							{% for disciplina in rama.getDisciplinas()  %}
								<li class="has-sub">
									<a href="{{ path('mostrarOfertas', {'area_id': area.id,'rama_id': rama.id, 'disciplina_id': disciplina.id}) }}">{{ disciplina.getNombre() }}
									</a>
						         </li>
							{% endfor %}
						</ul>
				    </li>
				{% endfor %}
			</ul>
			</li>
		</ul>
	{% endfor %}
{% endif %}