{% extends 'base.html.twig.php' %}

{% block side %}
{% if oferta is defined %}
  <div id="contenido" class="sec_interior">
    <div class="content_doku">
        <img width="200" alt="mapa_bbm3i" title="mapa_bbm3i" class="medialeft" src="{{ asset('uploads/brochures/oferta') }}/{{ oferta.getBrochure() }}" alt="Example" />
          <div id="descripcionOferta">
            <p id="nombre"> {{ oferta.getNombre() }} </li>
            <p id="ruta"> {{ oferta.getFechaInicio()|date('Y-m-d') }} </p>
            <p id="nombre"> Visitas--> {{ oferta.getVisitas() }} </li>
          </div>

          {% if form is defined %}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form_start(form, {method: 'POST'}) }}

            {{ form_label(form.contenido) }}

            {{ form_widget(form) }}
            {{ form_errors(form) }}
          {% endif %}
          <div class="DocumentList">
            <ul>
              {% for comentario in oferta.getComentarios()  %}
                  <div class="divContainerMain">
                      <h3> Down Side Callout </h3>
                      <div class="divContainerDown">
                          {{ comentario.getContenido() }}
                      </div>
                      <div class="calloutDown">
                        <div class="calloutDown2">
                        </div>
                  </div>
                  <div>
                    <a href="{{ path('send_email', {'receptor': comentario.getAutor(), 'emisor': app.user.name}) }}"> {{ comentario.getAutor() }} </a> Said</div>
                  </div>

              {% endfor %}
          </div>


        </div>
    </div>
{% endif %}
{% endblock %}

