{% extends 'base.html.twig.php' %}

{% block side %}
  <div id="contenido" class="sec_interior">
    <h1> Bienvenido {{ app.user.username }} </h1>
    <div class="content_doku">
        <img width="200" alt="mapa_bbm3i" title="mapa_bbm3i" class="medialeft" src="{{ asset('uploads/brochures/oferta') }}/{{ oferta.getBrochure() }}" alt="Example" />
          <div id="descripcionOferta">
            <p id="nombre"> {{ oferta.getNombre() }} </li>
            <p id="ruta"> {{ oferta.getFechaInicio()|date('Y-m-d') }} </p>
          </div>

          {% if form is defined %}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form_start(form, {method: 'POST'}) }}

            {{ form_label(form.contenido) }}

            {{ form_widget(form) }}
            {{ form_errors(form) }}
          {% endif %}
          <div class="DocumentList">
            <ul>
              {% for comentario in oferta.getComentarios()  %}
              <div class="comment-box">
                <h2 class="number">{{ comentario.getContenido() }}</h2>
                <p>{{ comentario.getAutor() }}</p>
              </div>

              {% endfor %}
          </div>


        </div>
    </div>

{% endblock %}
